body {
 color: rgb(105, 186, 226);
backgraund:rgba(21, 90, 125, 0.715)
 margin: px;

}

header {
    border-bottom: solid 2px rgb(105, 186, 226);
 padding: 20px;
 font-size: 32px;
 color: rgb(37, 210, 14)

}

section {
 background: rgb(29, 140, 196);
 padding-bottom : 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}
div {
height: ;
}